* {
  box-sizing: border-box;
}

body {
  font-family: roboto;
  margin: 0;
}

.grid {
  display: flex;
  flex-flow: column;
}

.hover {
  background-color: #165a70;
}

.gridrow {
  display: flex;
}

.square {
  border: 1px solid black;
}

.console {
  font-size: large;
  color: red;
  text-align: center;
}